<h1>Quiz Maker</h1>

<button (click)="makeForm(false)">Create New</button>
<button (click)="makeForm(true)">Import</button>

<div class="container" *ngIf="selectionMade">
  <form [formGroup]="quizForm" (ngSubmit)="submit()">
    <!-- Questions -->
    <div formArrayName="buckets">
      <div
        *ngFor="
          let bucket of quizForm['controls'].buckets['controls'];
          let b = index
        "
      >
        <div formGroupName="{{ b }}" class="">
          <p>Bucket {{ b + 1 }}</p>
          <label for="num_questions">Number of Questions</label>
          <input
            type="number"
            formControlName="num_questions"
            id="num_questions"
          />

          <label for="randomize">Randomize Questions</label>
          <input type="checkbox" formControlName="randomize" id="randomize" />
          <p>
            ------------------------------------------------------------------------------------------------------------
          </p>
        </div>
        <div formGroupName="{{ b }}" class="">
          <div formArrayName="questions">
            <div
              *ngFor="
                let question of bucket['controls'].questions['controls'];
                let ix = index
              "
            >
              <p>Bucket {{ b + 1 }} Question {{ ix + 1 }}</p>
              <input
                type="button"
                (click)="deleteQuestion(b, ix)"
                value="Delete Question"
              />

              <div formGroupName="{{ ix }}" class="Xs">
                <!-- <label for="type">Type</label>
                <input type="text" formControlName="Type" id="type" /> -->
                <select formControlName="Type" id="type">
                  <option
                    *ngFor="let type of types; let i = index"
                    [value]="types[i]"
                  >
                    {{ types[i] }}
                  </option>
                </select>
                <label for="text">Text</label>
                <textarea
                  type="text"
                  formControlName="Text"
                  id="text"
                ></textarea>
                <label for="points">Points</label>
                <input type="number" formControlName="Points" id="points" />
                <!-- Answers -->
                <div formArrayName="Answers">
                  <p>Answers</p>
                  <div
                    *ngFor="
                      let answer of question['controls'].Answers['controls'];
                      let iy = index
                    "
                  >
                    <div formGroupName="{{ iy }}" class="Ys">
                      <input type="text" formControlName="Answer" />
                    </div>
                  </div>
                  <input
                    type="button"
                    (click)="addAnswer(b, ix)"
                    value="Add Answer"
                  />
                  <input
                    type="button"
                    (click)="deleteAnswer(b, ix)"
                    value="Delete Answer"
                  />
                </div>
                <!-- Answers End-->
                <!-- Correct Answers -->
                <div formArrayName="CorrectAnswers">
                  <p>Correct Answer(s)</p>
                  <div
                    *ngFor="
                      let correct of question['controls'].CorrectAnswers[
                        'controls'
                      ];
                      let iz = index
                    "
                  >
                    <div formGroupName="{{ iz }}" class="Zs">
                      <input type="text" formControlName="Correct" />
                    </div>
                  </div>
                  <input
                    type="button"
                    (click)="addCorrect(b, ix)"
                    value="Add Correct"
                  />
                  <input
                    type="button"
                    (click)="deleteCorrect(b, ix)"
                    value="Delete Correct"
                  />
                </div>
                <label for="random">Randomize</label>
                <input
                  type="checkbox"
                  formControlName="Randomize"
                  id="random"
                />
              </div>
              <!-- Correct Answers End -->
              <p>
                ------------------------------------------------------------------------------------------------------------
              </p>
            </div>
          </div>
          <input type="button" (click)="addQuestion(b)" value="Add Question" />
        </div>
        <input type="button" (click)="addBucket()" value="Add Bucket" />
      </div>
    </div>

    <!-- Questions End -->
    <button type="submit">Submit Quiz</button>
    <form>
      <h5>Field Values</h5>
      <pre style="font-size:15px">{{ quizForm.value | json }}</pre>
    </form>
  </form>
</div>
